
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
    background-image: url(img/pontinho.png);
}

.login {
    
    margin: 50px auto;
    max-width: 350px;
    flex: 1;
    background-color: #5e555525;
    padding: 15px;
    border-radius: 5px;
}
.form-group{
    width: 100%;
}
#carousel {
    margin-top: 40px;
}
.navbar .nav-link{
    color: #005060!important;
/* background-color: #9c5252; */
}
.navbar .nav-link:hover{
color: #b69054!important;
}
.navbar {
    max-width: 100%!important;
}
footer {
    background-color: #f2eded;
    width: 100%;
}
h1 {
    color: #b69054;   
}
p {
    color: #005060;
}
.content {
    height: 400px;
    margin-top: 10px;
}
.input-group2 {
    margin: 5px;}
.input-group2 textarea {height: 120px;}
.btn-margin {margin: 5px;}