.login {
    
    margin: 50px auto;
    max-width: 350px;
    flex: 1;
    background-color: #5e555525;
    padding: 15px;
    border-radius: 5px;
}
.form-group{
    width: 100%;
}
.navbar .nav-link{
    color: #005060!important;
/* background-color: #9c5252; */
}
.navbar .nav-link:hover{
color: #b69054!important;
}